body {
  background-size: 100% 100%;
  background-image: url(http://www.pngimagesfree.com/Music/City-Music-Concert-Background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
